.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.jks
*.keystore
key.properties
.env

lib/main.dart.backup
lib/main.dart.backup2
pubspec.yaml.backup2
